
attrs==19.3.0
backcall==0.2.0
boto3==1.11.4
botocore==1.14.4
certifi==2020.12.5
chardet==3.0.4
contextlib2==0.6.0.post1
datarobot==2.22.1
decorator==4.4.2
deprecation==2.1.0
docutils==0.15.2
future==0.18.2
idna==2.10
jmespath==0.10.0
joblib==0.17.0
numpy==1.19.4
packaging==20.7
pandas==1.1.5
parso==0.7.0
pika==0.13.1
py4j==0.10.9
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
pyzmq==20.0.0
requests==2.25.0
requests-toolbelt==0.9.1
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.5.4
threadpoolctl==2.1.0
trafaret==1.2.0
urllib3==1.25.11
datarobot-drum==1.4.6