absl-py==0.11.0
astor==0.8.1
cached-property==1.5.1
certifi==2020.11.8
gast==0.3.3
google-pasta==0.2.0
grpcio==1.33.2
importlib-metadata==1.7.0
numpy==1.18
protobuf==3.13.0
PyYAML==5.3.1
six==1.15.0
termcolor==1.1.0
Theano==0.8.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
joblib==0.14.0
pandas==0.25.1
scipy==1.5.3
scikit_learn==0.22.0
catboost==0.24.2
datarobot-drum==1.5.4
xgboost==1.2.1